$var1: #F8F8F8;
$var2: #FFFFFF;
$var3: #D9FFF5;
$var4: #B8FFEC;
$var5: #FF3E79;
$var6: #EAEAEA;
$var7: #7E7E82;
$var8: #666666;
$var9: #1B1C21;

* {
	color: black;
	padding: 0;
	margin: 0;
}
body {
	background-color: $var1;
}
.page {
	display: flex;
	position: relative;
	max-width: 1440px;
	margin: auto;
	&-header {
		box-sizing: border-box;
		width: 100vw;
		height: 88px;
		background: $var2;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px;
		box-shadow: 0 2px 0 $var3;
		border-bottom: 2px solid $var4;
	}
	&__left-side-elements {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__burger-menu {
		background: $var5;
		border-radius: 20px;
		width: 40px;
		height: 40px;
		margin: 10px;
		padding-top: 5px;
	}
	&__logo {
		width: 96px;
		height: 50px;
		margin: 5px;
	}
	&__right-side-elements {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__repair {
		width: 40px;
		height: 40px;
		background: $var5;
		border-radius: 20px;
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 4px;
	}
	&__second-logo-line {
		width: 2px;
		height: 32px;
		background: $var6;
		border-radius: 1px;
	}
	&__checkstatus {
		width: 40px;
		height: 40px;
		background: $var5;
		border-radius: 20px;
		margin-right: 10px;
		padding-top: 4px;
	}
}
.main-section {
	width: 100vw;
	max-width: 1120px;
}
.page__first-logo-line, .page-phone, .page-chat, .page-profile, .main__logo-viewport1120 {
	display: none;
}
button {
	outline: none;
	border: 0;
	background: transparent;
	cursor: pointer;
	&:hover button:not(.brands-logo-table__more) {
		opacity: 0.6;
		transition-duration: 0.5s;
	}
	&:hover button:not(.brands-logo-table__less) {
		opacity: 0.6;
		transition-duration: 0.5s;
	}
}
.main {
	top: 89px;
	box-sizing: border-box;
	max-width: 1120px;
	height: auto;
	&__header {
		width: 100vw;
		max-width: 1120px;
		height: 70px;
	}
	&__text {
		font-family: "TT Lakes";
		width: 304px;
		box-sizing: border-box;
		font-size: 28px;
		line-height: 40px;
		padding-top: 15px;
		letter-spacing: -0.6px;
		&::before {
			content: url(src/img/highlight.svg);
			padding-right: 3%;
			height: 40px;
			vertical-align: middle;
		}
	}
}
.nav {
	box-sizing: border-box;
	width: 100vw;
	max-width: 1120px;
	&__menu {
		max-width: 1120px;
		box-sizing: border-box;
		padding-left: 0px;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		overflow-y: scroll;
		&::after {
      content: " ";
      position: absolute;
      height: 70px;
      left: 92.5%;
      right: 0%;
      top: 150px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
		}
		&::-webkit-scrollbar {
			width: 0;
		}
	}
	&__item {
		display: inline-block;
		font-family: 'TT Lakes Medium';
		letter-spacing: -0.2px;
		flex: 0 0 auto;
		height: 40px;
		box-sizing: border-box;
		margin: 5px;
		border-radius: 6px;
		padding: 6px 15px 5px 15px;
		border: 2px solid $var1;
		&:hover {
			box-shadow: -5px -5px 5px -5px rgba(65, 246, 215, 0.6);
		}
		&:active {
			box-sizing: border-box;
			background-color: $var2;
			border: 2px solid $var4;
			border-radius: 6px;
			padding: 6px 15px;
		}
	}
	&__link {
		font-size: 16px;
		line-height: 24px;
		color: $var7;
		box-sizing: border-box;
	}
	&__link:hover, &__link {
		text-decoration: none;
		color: $var8;
	}

.about-us {
	box-sizing: border-box;
	width: 320px;
	&__text {
		display: block;
		font-family: 'TT Lakes Regular';
		width: 90vw;
		height: 90px;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.2px;
		color: $var9;
		overflow: hidden;
		margin-bottom: 15px;
		padding: 0 16px;
	}
	&__more {
		margin-top: 24px;
		margin-left: 35px;
		margin-bottom: 24px;
		height: 24px;
		vertical-align: middle;
		&:after {
			content: "Показать все";
			width: 130px;
			height: 24px;
			font-family: "TT Lakes Medium";
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;
			color: $var9;
			cursor: pointer;
			padding-left: 8px;
		}
	}
	&__less {
		display: inline-block;
		transform: rotate(180deg);
		margin-top: 24px;
		margin-left: 35px;
		margin-bottom: 24px;
		height: 24px;
		vertical-align: middle;
		&:before {
			display: inline-block;
			content: "Скрыть";
			height: 24px;
			font-family: "TT Lakes Medium";
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;
			color: $var9;
			cursor: pointer;
			transform: rotate(180deg);
			padding-left: 8px;
		}
	}
	&-photo {
		display: block;
		max-width: 315px;
		left: 0%;
		right: 0%;
		top: 64.66%;
		bottom: 5.86%;
		margin: 0 auto;
		border-radius: 5px;
	}
}

.show-text {
	height: auto;
}
.hide-text {
	display: none;
}
.overflow-hidden {
	overflow-y: hidden;
}


@media(min-width: 1120px){
  .main-section {
margin-left: 321px;
}
}


@media (min-width: 768px) {

.main {
  min-height: 416px;
}

.main__header {
  margin-bottom: 12px;
}

.page__first-logo-line, .page-phone, .page-chat,
.page-profile {
  display: block;
}

.page__left-side-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page__burger-menu{
  background: #FF3E79;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding-top: 5px;
}

.page__first-logo-line {
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
  margin-right: 15px;
}

.page__logo {
  width: 96px;
  height: 50px;
  margin: 5px;
}

.page__middle-side-elements {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.page-phone {
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
padding-top: 5px;
margin-right: 20px;
}

.page-chat {
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
padding-top: 5px;
margin-right: 20px;
}

.page-profile {
width: 40px;
height: 40px;
background: #FF3E79;
border-radius: 20px;
padding-top: 5px;
}

.about-us {
box-sizing: border-box;
display: flex;
justify-content: space-between;
}

.about-us__text {
max-width: 312px;
/*height: 145px;*/
}

.about-us__more {
margin-left: 30px;
}

.about-us-photo {
display: block;
max-width: 360px;
max-height: 207px;
margin-left: 30px;
border-radius: 6px;
}

}

@media (min-width:1120px) {

.main {
  height: 535px ;
}

.main__repair:hover::after,
.main__checkstatus:hover::after{
  opacity: 0.8;
}

.page-header {
display: none;
}

.main__logo-viewport1120 {
display: flex;
width: 780px;
justify-content: flex-end;
align-items: center;
}

.main__repair {
width: 190px;
font-family: 'TT Lakes Medium';
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #1B1C21;
display: flex;
align-items: center;
justify-content: space-evenly;
margin-right: 20px;
text-decoration: none;
}
.btn-circle::after {
  background: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.main__repair::after {
  content: " ";
  display: block;
  background-image: url(src/img/Repair.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.main__checkstatus {
width: 180px;
font-family: 'TT Lakes Medium';
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #1B1C21;
display: flex;
align-items: center;
justify-content: space-evenly;
  text-decoration: none;
}
.btn-circle2::after {
  background: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.main__checkstatus::after {
content: " ";
display: block;
background-image: url(src/img/checkstatus.svg);
background-repeat: no-repeat;
background-position: center center;
}


.main__header {
padding-top: 25px;
display: flex;
}

.main__text::before {
margin-right: 30px;
}

.nav__menu {
flex-wrap: wrap;
margin-top: 20px;
margin-left: 25px;
}

.about-us {
display: flex;
box-sizing: border-box;
justify-content: space-between;
}

.about-us__text {
max-width: 490px;
margin-left: 25px;

}

.about-us-photo {
display: block;
max-width: 515px;
max-height: 300px;
border-radius: 6px;
}

.nav__menu::after {
  display: none;
}
}



