* {
    color:black;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F2F2F2;
    width: 100vw;
    height: 234px;
    max-width: 1120px;
    margin: auto;
    max-height: 100%;
}

button {
    outline: none;
    border: 0;
    background: transparent;
}

.brands-logo-table__link{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    box-sizing: border-box;
    border-radius: 20px;
}

.brands-logo-table__link::before{
    content: '';
    display: block;
    width: 7.5px;
    height: 7.5px;
    border: 2px solid #FF3E79;
    border-left: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    margin-left: 11px;
    margin-top: 13px;
}

.brands-logo-table__link:hover{
    background-color: #FF3E79;
    transition-duration: 0.5s;
}

.brands-logo-table__link:hover::before {
    border: 2px solid #ffffff;
    border-left: transparent;
    border-bottom: transparent;
    transition-duration: 0.5s;
}

.brands-logo-table__list {
    list-style-type: none;
}

.brands-menu-header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #F2F2F2 0%, #FFFFFF 98.61%);
}

.brands-menu-header__text {
    box-sizing: border-box;
    font-family: "TT Lakes Regular";
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 16px;

    color: #7E7E82;
}

.brands-logo-table__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

img {
    max-width: 100%;
}

.brands-logo-table__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
    flex-shrink: 0;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-top: 16px;
    margin-left: 16px;
}

.hidden-brands {
    display: none;
}

.swiper-wrapper__gradient {
    position: absolute;
    width: 30px;
    height: 90px;
    right: 0;
    top: 87px;
    z-index: 10;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.brands-logo-table__more {
    width: 130px;
    height: 24px;

    font-family: "TT Lakes Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-top: 24px;
    margin-left: 24px;

    display: none;
}

.brands-logo-table__more::before {
    content: url(img/arrow_down.svg);
    margin-right: 8px;
    height: 24px;
    vertical-align: middle;
}

.brands-logo-table__less {
    width: 130px;
    height: 24px;
    font-family: "TT Lakes Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-top: 24px;
    margin-left: 24px;

    display: none;
}

.brands-logo-table__less::before {
    display: inline-block;
    content: url(img/arrow_down.svg);
    transform: rotate(180deg);
    margin-right: 8px;
    height: 24px;
    vertical-align: middle;
}



@media (min-width: 320px) and (max-width: 767px) {
    .hidden-brands {
        display: flex;
    }
}

@media (min-width: 768px) {
    .brands-logo-table__list {
        display: flex;
        flex-wrap: wrap;
    }

    .brands-logo-table__item {
        width: 224px;
        height: 72px;
        margin-left: 24px;
    }

    .brands-menu-header {
        height: 52px;
        background: linear-gradient(90deg, #F2F2F2 1.39%, #FFFFFF 100%);
    }

    .show {
        display: block;
    }

    .display-block {
        display: block;
    }

.show-hidden-brands {
    display: flex;
    flex-wrap: wrap;
}

}

@media (min-width: 1120px) {

    .brands-logo-table__item  {
        width: 240px;
        margin-left: 32px;
    }

    .hidden-brands:nth-last-child(n+4) {
        display: flex;
    }



}













@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Black';
    src: url('fonts/TTLakes-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}