* {
  color:black;
  padding: 0;
  margin: 0;
}
body {
  background-color: #F8F8F8;
}
.page {
  width: 100vw;
  max-width: 1120px;
  margin: auto;
  max-height: 100%;
}

.page-header{
  box-sizing: border-box;
    width: 100%;
    height: 88px;

    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
    box-shadow: 0 2px 0 #D9FFF5;
    margin: 0 auto;
    border-bottom: 2px solid #B8FFEC;
}

.page__first-logo-line, .page-phone, .page-chat,
.page-profile, .main__logo-viewport1120 {
  display: none;
}

button {
  outline: none;
  border: 0;
  background: transparent;
}

button:hover:not(.about-us__more) {
  opacity: 0.6;
  transition-duration: 0.5s;
}

.page__left-side-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page__burger-menu{
  background: #FF3E79;
  border-radius: 20px;
    width: 40px;
    height: 40px;
  margin: 10px;
  padding-top: 5px;
}

.page__logo {
  width: 96px;
  height: 50px;
  margin: 5px;
}

.page__right-side-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page__repair {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 4px;
}

.page__second-logo-line {
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
}

.page__checkstatus {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  margin-right: 10px;
  padding-top: 4px;
}

.main {
  top: 89px;
  box-sizing: border-box;
  max-width: 1120px;
  height: 100%;
  background-color: #F8F8F8;
  }

.main__header {
width: 100%;
  height: 70px;
}

.main__text {
  font-family: "TT Lakes";
  width: 304px;
  box-sizing: border-box;
  font-size: 28px;
  line-height: 40px;
  padding-top: 15px;
  letter-spacing: -0.6px;
}

.main__text::before {
  content: url(/img/highlight.svg);
  padding-right: 3%;
  height: 40px;
  vertical-align: middle;
}

.nav {
  box-sizing: border-box;
  width: 100%;
}

.nav__menu {
  box-sizing: border-box;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.nav__menu::after{
  content: " ";
  position: absolute;
  height: 70px;
  left: 92.5%;
  right: 0%;
  top: 150px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.nav__menu::-webkit-scrollbar {
  width: 0;
}

.nav__item {
  display: inline-block;
  font-family: 'TT Lakes Medium';
  letter-spacing: -0.2px;
  flex: 0 0 auto;
  height: 40px;
  box-sizing: border-box;

  margin: 5px;
  border-radius: 6px;
  padding: 6px 15px 5px 15px;
  border: 2px solid #F8F8F8;
}

  .nav__link {
font-size: 16px;
line-height: 24px;
color: #7E7E82;
box-sizing: border-box;
  }
  
  .nav__item:active {
box-sizing: border-box;
background-color: #FFFFFF;
border: 2px solid #B8FFEC;
border-radius: 6px;
padding: 6px 15px;
  }

/*.nav__link:active,*/
.nav__link:hover,
.nav__link {
  text-decoration: none;
  color: #666;
}

.about-us {
  box-sizing: border-box;
width: 320px;
}

.about-us__text {
  display: block;
  font-family: 'TT Lakes Regular';
  background-color: #F8F8F8;
  width: 90vw;
  height: 90px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  
  color: #1B1C21;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 0 16px;
}

.about-us__more,
.about-us__less{
  display: flex;
  width: 130px;
  height: 24px;
  left: 150px;
  right: 53.75%;
  margin-bottom: 15px;
  
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  
  letter-spacing: -0.2px;
  
  color: #1B1C21;

  padding: 0 16px;
}

.about-us__more::before {
  content: url(/img/arrow_down.svg);
  margin-right: 8px;
  height: 24px;
  vertical-align: middle;
}

.about-us__less::before {
  content: url(/img/arrow_down.svg);
  display: block;
  margin-right: 8px;
  height: 24px;
  width: 20px;
  vertical-align: middle;
  transform: rotate(180deg);
}

.about-us__more,
.about-us__less{
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;
  width: 150px;
  outline: none;
  border: 0;
  background: transparent;
}

.about-us-photo {
  display: block;
  max-width: 315px;
  left: 0%;
  right: 0%;
  top: 64.66%;
  bottom: 5.86%;
  margin: 0 auto;
  border-radius: 5px;
}

.show-text {
  height: auto;
}

.hide-text {
  display: none;
}


@media (min-width: 768px) {

  .main {
    height: 416px;
  }

  .main__header {
    margin-bottom: 12px;
  }

  .page__first-logo-line, .page-phone, .page-chat,
  .page-profile {
    display: block;
  }

  .page__left-side-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page__burger-menu{
    background: #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    padding-top: 5px;
  }

  .page__first-logo-line {
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    margin-right: 15px;
  }

  .page__logo {
    width: 96px;
    height: 50px;
    margin: 5px;
  }

  .page__middle-side-elements {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

.page-phone {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  padding-top: 5px;
  margin-right: 20px;
}

.page-chat {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  padding-top: 5px;
  margin-right: 20px;
}

.page-profile {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  padding-top: 5px;
}

.about-us {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about-us__text {
  max-width: 312px;
  /*height: 145px;*/
}

.about-us__more {
margin-left: 30px;
}

.about-us-photo {
  display: block;
max-width: 360px;
max-height: 207px; 
margin-left: 30px;
border-radius: 6px;
}

}

@media (min-width:1120px) {

  .main {
    height: 535px ;
  }

  .main__repair:hover::after,
  .main__checkstatus:hover::after{
    opacity: 0.8;
  }

.page-header {
display: none;
}

.main__logo-viewport1120 {
  display: flex;
  width: 780px;
  justify-content: flex-end;
  align-items: center;
}

.main__repair {
  width: 190px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  text-decoration: none;
}
  .btn-circle::after {
    background: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .main__repair::after {
    content: " ";
    display: block;
    background-image: url(/img/Repair.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .main__checkstatus {
  width: 180px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
    text-decoration: none;
}
  .btn-circle2::after {
    background: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .main__checkstatus::after {
  content: " ";
  display: block;
  background-image: url(/img/checkstatus.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


.main__header {
  padding-top: 25px;
  display: flex;
}

.main__text::before {
  margin-right: 30px;
}

.nav__menu {
flex-wrap: wrap;
margin-top: 20px;
margin-left: 25px;
}

.about-us {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.about-us__text {
  max-width: 490px;
  /*height: 145px;*/
  margin-left: 25px;

}

.about-us-photo {
  display: block;
  max-width: 515px;
  max-height: 300px;
  border-radius: 6px;
}

  .nav__menu::after {
    display: none;
  }
}
























@font-face {
  font-family: 'TT Lakes';
  src: url('/fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Black';
  src: url('/fonts/TTLakes-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'TT Lakes Medium';
    src: url('/fonts/TTLakes-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
      font-family: 'TT Lakes Regular';
      src: url('/fonts/TTLakes-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      }
