.block15 {
	width: 100vw;
}
.brands-logo-table__link {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid #FF3E79;
	box-sizing: border-box;
	border-radius: 20px;
	&::before {
		content: '';
		display: block;
		width: 7.5px;
		height: 7.5px;
		border: 2px solid #FF3E79;
		border-left: transparent;
		border-bottom: transparent;
		transform: rotate(45deg);
		margin-left: 11px;
		margin-top: 13px;
	}
	&:hover {
		background-color: #FF3E79;
		transition-duration: 0.5s;
		&::before {
			border: 2px solid #ffffff;
			border-left: transparent;
			border-bottom: transparent;
			transition-duration: 0.5s;
		}
	}
}
.brands-logo-table__list {
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
.brands-menu-header {
	box-sizing: border-box;
	width: 100vw;
	max-width: 1120px;
	height: 80px;
	background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
	border-top: 2px solid #D9FFF5;
}
.brands-menu-header__text {
	box-sizing: border-box;
	font-family: "TT Lakes Regular";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: -0.2px;
	padding: 16px;
	color: #7E7E82;
}
img {
	max-width: 100%;
}
.brands-logo-table__item {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 240px;
	height: 72px;
	padding-left: 16px;
	padding-right: 16px;
	flex-shrink: 0;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	margin-top: 16px;
	margin-left: 14px;
	cursor: pointer;
	&:hover {
		box-shadow: -5px -5px 5px -5px rgba(65, 246, 215, 0.6);
	}
}
.hidden-brands {
	display: none;
}
.brands-logo-table__more {
	margin-top: 24px;
	margin-left: 35px;
	margin-bottom: 24px;
	height: 24px;
	vertical-align: middle;
	&:after {
		content: "Показать все";
		width: 130px;
		height: 24px;
		font-family: "TT Lakes Medium";
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1B1C21;
		cursor: pointer;
		padding-left: 8px;
	}
}
.brands-logo-table__less {
	display: inline-block;
	transform: rotate(180deg);
	margin-top: 24px;
	margin-left: 35px;
	margin-bottom: 24px;
	height: 24px;
	vertical-align: middle;
	&:before {
		display: inline-block;
		content: "Скрыть";
		height: 24px;
		font-family: "TT Lakes Medium";
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1B1C21;
		cursor: pointer;
		transform: rotate(180deg);
		padding-left: 8px;
	}
}

@media (min-width: 1120px) {
  .block15 {
    width: 1120px;
  }
  }

@media (min-width: 320px) and (max-width: 767px) {
  .swiper-wrapper__gradient1 {
    position: absolute;
    width: 30px;
    height: 100px;
    right: 0;
    top: 87px;
    z-index: 10;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }
  }


@media (min-width: 320px) and (max-width: 767px) {
  .hidden-brands {
      display: flex;
  }

  .brands-logo-table__more,
  .brands-logo-table__less {
      display: none;
  }


  .brands-logo-table__item{
      width: 240px;
      height: 72px;
  }

  .swiper-wrapper {
      right: 35px;
  }
}

@media (min-width: 768px) {
  .brands-logo-table__list {
      display: flex;
      flex-wrap: wrap;
  }

  .brands-logo-table__item {
      width: 224px;
      height: 72px;
      margin-left: 24px;
  }

  .brands-menu-header {
      height: 52px;
      background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  }


.show-hidden-brands {
  display: flex;
  flex-wrap: wrap;
}
}

@media (min-width: 1120px) {

  .brands-logo-table__item  {
      width: 240px;
      margin-left: 32px;
  }

  .hidden-brands:nth-last-child(n+4) {
      display: flex;
  }
}