* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline:none;
}

button:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
}

.popup-feedback {
  width: 320px;
  position: absolute;
  right: 0;
}

section {
  a {
    text-decoration: none;
  }

  button {
    outline: none;
    border: 0;
    background: transparent;
  }

  .popup-feedback__title {
    font-family: "TT Lakes";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 40px 16px auto 0;
    padding-left: 20px;
    border-left: 3px solid #41F6D7;
    border-radius: 2px;
  }

  .popup-feedback__input,
  .popup-feedback__textarea{
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin: 24px 16px 0 16px;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    padding: 0 20px;
  }

  .popup-feedback__input:focus,
  .popup-feedback__textarea:focus{
    border: 1px solid #41F6D7 !important;
  }

  ::placeholder {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
  }

  .popup-feedback__agreement {
    width: 288px;
    font-family: "TT Lakes Medium";
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin: 16px;
  }

  a {
    color: #FF3E79;
  }

  .popup-feedback__close {
    display: block;
    background: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 16px;
    padding-top: 5px;
  }

  .popup-feedback__send {
    display: block;
    width: 136px;
    height: 32px;
    background: #FF3E79;
    border-radius: 16px;
    padding: 4px 0 4px 16px;
    margin-left: 168px;
    margin-top: 18px;
  }

  .popup-feedback__text {
    display: flex;
    width: 100px;
    font-family: "TT Lakes";
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .popup-feedback__text::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: 2px solid #FFFFFF;
    border-left: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    margin-left: 15px;
    margin-top: 8px;
  }

  .popup-feedback__textarea {
    box-sizing: border-box;
    resize: none;
    padding-top: 12px;
    height: 118px;
  }

}

@media (min-width: 1366px) {
  body {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.96;
  }

  .popup-feedback {
    width: 440px;
    height: 100%;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    border-left: 1px solid #D9FFF5;
  }

  section {
    .popup-feedback__close {
      position: absolute;
      top: 15px;
      right: 473px;
    }

    .popup-feedback__input,
    .popup-feedback__textarea {
      width: 376px;
      margin-left: 32px;
    }

    .popup-feedback__agreement {
      margin-left: 35px;
    }

    .popup-feedback__send {
      margin-left: 272px;
    }

    .popup-feedback__textarea {
      width: 376px;
      height: 118px;
    }
  }


}





