input,
textarea {
	outline: none;
}
section {
	a {
		text-decoration: none;
		color: #FF3E79;
	}
	.popup-call__title {
		font-family: "TT Lakes";
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.6px;
		color: #1B1C21;
		margin: 40px 16px auto 0;
		padding-left: 20px;
		border-left: 3px solid #41F6D7;
		border-radius: 2px;
	}
	.popup-call__input {
		box-sizing: border-box;
		width: 288px;
		height: 48px;
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 8px;
		margin: 24px 16px 0 16px;
		font-family: "TT Lakes Medium";
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #B5B6BC;
		padding: 0 20px;
		&:focus {
			border: 1px solid #41F6D7 !important;
		}
	}
	::placeholder {
		font-family: "TT Lakes Medium";
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #B5B6BC;
	}
	.popup-call__agreement {
		width: 288px;
		font-family: "TT Lakes Medium";
		font-size: 14px;
		line-height: 16px;
		color: #7E7E82;
		margin: 16px;
	}
	.popup-call__close {
		display: block;
		background: #FF3E79;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		margin-top: 24px;
		margin-left: 16px;
		padding-top: 5px;
	}
	.popup-call__send {
		display: block;
		width: 136px;
		height: 32px;
		background: #FF3E79;
		border-radius: 16px;
		padding: 4px 0 4px 16px;
		margin-left: 168px;
		margin-top: 18px;
	}
	.popup-call__text {
		display: flex;
		width: 100px;
		font-family: "TT Lakes";
		font-size: 12px;
		line-height: 24px;
		text-align: left;
		letter-spacing: -0.15px;
		text-transform: uppercase;
		color: #FFFFFF;
		&::after {
			content: "";
			display: block;
			width: 4px;
			height: 4px;
			border: 2px solid #FFFFFF;
			border-left: transparent;
			border-bottom: transparent;
			transform: rotate(45deg);
			margin-left: 15px;
			margin-top: 8px;
		}
	}
}
.popup-call__visible,
.popup-feedback__visible {
	right: 0px;
	transition: right 500ms;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.popup-call__unvisible,
.popup-feedback__unvisible {
	right: -600px;
	transition: right 500ms;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.body-blur {
	filter: blur(7px);
	transition-duration: 0.5s;
}


@media(min-width:320px) and (max-width:1120px) {
  .popup-call,
  .popup-feedback {
    width: 320px;
    height: 100%;
    position: fixed;
    right: -500px;
    background: #FFFFFF;
    z-index: 110;
  }
  }

@media (min-width: 1366px) {
  .body-blur {
    filter: blur(7px);
    transition-duration: 0.5s;
  }

  .popup-call,
  .popup-feedback {
    position: fixed;
    right: -600px;
    width: 440px;
    height: 100%;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    border-left: 1px solid #D9FFF5;
    background: #FFFFFF;
    z-index: 110;
  }

  section .popup-call__close {
    position: absolute;
    top: 15px;
    right: 473px;
  }
  section .popup-call__input {
    box-sizing: border-box;
    width: 376px;
    margin-left: 34px;
  }
  section .popup-call__agreement {
    margin-left: 35px;
  }
  section .popup-call__send {
    margin-left: 272px;
  }
}