@import '../scss/main.scss';
@import '../scss/brands-menu.scss';
@import '../scss/menu.scss';
@import '../scss/modal-call.scss';
@import '../scss/modal-feedback.scss';
@import '../scss/services-menu.scss';
@import '../scss/swiper-bundle.min.css';
@import '../scss/technology-menu.scss';
@import '../scss/fonts.scss';


$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}
