a {
	text-decoration: none;
	color: black;
}
.tech-logo-table__link {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid #FF3E79;
	box-sizing: border-box;
	border-radius: 20px;
	margin-top: 85px;
	&::before {
		content: '';
		display: block;
		width: 7.5px;
		height: 7.5px;
		border: 2px solid #FF3E79;
		border-left: transparent;
		border-bottom: transparent;
		transform: rotate(45deg);
		margin-left: 11px;
		margin-top: 13px;
	}
	&:hover {
		background-color: #FF3E79;
		transition-duration: 0.5s;
		&::before {
			border: 2px solid #ffffff;
			border-left: transparent;
			border-bottom: transparent;
			transition-duration: 0.5s;
		}
	}
}
.tech-logo-table__list {
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
.tech-menu-header {
	box-sizing: border-box;
	width: 100vw;
	max-width: 1120px;
	height: 80px;
	background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
}
.tech-menu-header__text {
	box-sizing: border-box;
	font-family: "TT Lakes Regular";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: -0.2px;
	padding: 16px;
	border-top: 2px solid #D9FFF5;
	color: #7E7E82;
}
.tech-logo-table__item {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 240px;
	height: 160px;
	padding-left: 16px;
	padding-right: 16px;
	flex-shrink: 0;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	margin-top: 16px;
	margin-left: 15px;
  cursor: pointer;
	&:hover {
		box-shadow: -5px -5px 5px -5px rgba(65, 246, 215, 0.6);
	}
}
.tech-logo-table__text {
	font-family: "TT Lakes Medium";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1B1C21;
	margin-top: -100px;
	margin-left: 5px;
}
.hidden-tech {
	display: none;
}


@media (min-width:320px) and (max-width:767px) {
  .swiper-wrapper__gradient2 {
    position: absolute;
    width: 30px;
    height: 166px;
    right: 0;
    top: 87px;
    z-index: 10;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
  .hidden-tech {
      display: flex;
  }

  .tech-logo-table__more {
    display: none;
  }
}

@media (min-width: 768px) {
  .tech-logo-table__list {
      display: flex;
      flex-wrap: wrap;
  }

  .tech-logo-table__item {
      width: 224px;
      height: 160px;
      margin-left: 24px;
  }

  .tech-menu-header {
      height: 52px;
      background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  }

  .tech-logo-table__more {
    margin-top: 24px;
    margin-left: 35px;
    margin-bottom: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .tech-logo-table__more:after {
    content: "Показать все";
    width: 130px;
    height: 24px;
    font-family: "TT Lakes Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    cursor: pointer;
    padding-left: 8px;

  }

  .tech-logo-table__less {
    display: inline-block;
    transform: rotate(180deg);
    margin-top: 24px;
    margin-left: 35px;
    margin-bottom: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .tech-logo-table__less:before {
    display: inline-block;
    content: "Скрыть";
    height: 24px;
    font-family: "TT Lakes Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    cursor: pointer;
    transform: rotate(180deg);
    padding-left: 8px;
  }

  .show {
      display: block;
  }

  .display-block {
      display: block;
  }

.show-hidden-tech {
  display: flex;
  flex-wrap: wrap;
}

}

@media (min-width: 1120px) {

  .tech-logo-table__item  {
      width: 240px;
      margin-left: 32px;
  }

  .hidden-tech:nth-last-child(n+8) {
      display: flex;
  }
}
